{% extends 'webapp/base.html' %}
{% load static %}

    {% block head %}
        <style>
            body {
                background-color: #eeeeee;
            }

            #hero2 {
              float: right;
              max-width: 450px;
            }
            #hero1 {
                display: inline;
                float: left;
            }

            .mais_lidos, .artigos {
                list-style-type: none;
            }

            .mais_lidos li {
                background-color: #D3D3D3;
                padding: 5px;
            }
            
            .mais_lidos strong {
                background-color: #D3D3D3;
                padding: 5px;                
            }

        </style>
    {% endblock %}


	{% block title %} {{ candidato_nome }} {% endblock %}



    {% block add_button %}
      <li><a href="/home/candidato/{{candidato_nome_url}}/adicionar_pagina/">Novo Artigo</a></li>
    {% endblock %}


	{% block body_block %}
    	<div class="item">
            <img src="{% static 'img/home_bandeira2.jpg' %}" alt="">
        </div>

    	<div class="hero-unit" id="hero1">
            {% if paginas %}
            <ul class="artigos">
                <h2>{{ candidato_nome }}</h2>
            	<strong> Artigos: </strong> <br/>
            	{% for pagina in  paginas %}
            		<li><a href="{{ pagina.url }}">{{ pagina.titulo }}</a></li>
            	{% endfor %}
            </ul>	
            {% endif %}
        </div>


        <div class="hero-unit" id="hero2">
            {% if paginas %}
            <ul class="mais_lidos">
                <strong> Mais Lidos: </strong> <br/>
                {% for pagina in  paginas %}
                    <li><a href="{{ pagina.url }}">{{ pagina.titulo }}</a></li>
                {% endfor %}
            </ul>   
            {% endif %}   
        </div>

    {% endblock %}